// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    disable-power-key-handling
    keyboard {
        xkb {
            // For more information, see xkeyboard-config(7).
            model "asus_laptop"
            layout "us,ru"
            options "grp:win_space_toggle,
                     grp:alt_shift_toggle,
                     compose:ralt,
                     caps:capslock"
        }
    }
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        accel-speed -0.5
        //accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // middle-emulation
    }
}

overview {
    backdrop-color "#000"; // Sets black backdrop globally
}

// Put swaybg inside the overview backdrop.
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}


// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
output "eDP-1" {
    //mode "1440x900@90"
    //mode "2880x900@90"  // sadly doesnt work tho hyprland could. this is hilarious to play cs2
    scale 2.0
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    //mode "2880x1800@60.001"
    
    transform "normal"
    position x=1440 y=0
}
output "DP-1" {
    scale 1.0
    mode "1920x1080@60"
    transform "normal"
    position x=1440 y=0
}


// static workspaces
workspace "1" {
    open-on-output "eDP-1"
}
workspace "2" {
    open-on-output "eDP-1"
}
workspace "3" {
    open-on-output "eDP-1"
}
workspace "4" {
    open-on-output "eDP-1"
}


// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    background-color "transparent"
    gaps 16

    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 1.0; }

    focus-ring {
        // off
        width 4
        active-gradient from="#b95628ee" to="#f35d17aa" angle=45
        inactive-color "#505050"
    }

    border {
        off

        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
    }

    shadow {
        // on

        softness 30

        spread 5

        offset x=0 y=5

        color "#0007"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

prefer-no-csd

// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path nul

// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Q { spawn "kitty"; }
    Mod+D { spawn "nemo"; }
    Mod+F { spawn "firefox"; }
    Mod+T { spawn "Telegram"; }
    Mod+R { spawn "fuzzel"; }
    Mod+E { spawn "iwmenu" "--launcher" "fuzzel"; }
    Mod+Alt+P { power-off-monitors; }
    Mod+Alt+L { spawn "swaylock"; }

    Mod+C { close-window; }
    Print { screenshot; }
    Shift+Print { screenshot-screen; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Alt+E { quit; }
    Ctrl+Alt+Delete { quit; }


    // Volume keys mappings for PipeWire & WirePlumber.
    //XF86AudioRaiseVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioRaiseVolume  allow-when-locked=true { spawn "swayosd-client" "--output-volume" "5"; }
    //XF86AudioLowerVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn "swayosd-client" "--output-volume" "-5"; }
    //XF86AudioMute         allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMute         allow-when-locked=true { spawn "swayosd-client" "--output-volume" "mute-toggle"; }
    //XF86AudioMicMute      allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86AudioMicMute      allow-when-locked=true { spawn "swayosd-client" "--input-volume" "mute-toggle"; }
    //XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "set" "+5%"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "swayosd-client" "--brightness" "+5"; }
    //XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "5%-"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "swayosd-client" "--brightness" "-5"; }
    Caps_Lock { spawn "swayosd-client" "--caps-lock"; }

    // silly
    XF86Launch1           { spawn "wtype" "🦅"; }
    //XF86PowerOff          { spawn "wtype" "💀"; }
    XF86PowerOff          { spawn "wtype" "HD3850 - самая мощная AGP видеокарта"; }


    // Move view <^v> with arrows or wheel
    Mod+Left                             { focus-column-left; }
    Mod+Up                               { focus-workspace-up; }
    Mod+Down                             { focus-workspace-down; }
    Mod+Right                            { focus-column-right; }
    //Mod+Up                             { focus-window-up; }
    //Mod+Down                           { focus-window-down; }
    Mod+WheelScrollLeft                  { focus-column-left; }
    Mod+WheelScrollUp    cooldown-ms=100 { focus-workspace-up; }
    Mod+WheelScrollDown  cooldown-ms=100 { focus-workspace-down; }
    Mod+WheelScrollRight                 { focus-column-right; }

    // Move window <^v> with arrows or wheel
    Mod+Shift+Left                             { move-column-left; }
    Mod+Shift+Up                               { move-column-to-workspace-up; }
    Mod+Shift+Down                             { move-column-to-workspace-down; }
    Mod+Shift+Right                            { move-column-right; }
    //Mod+Shift+Up                             { move-window-up; }
    //Mod+Shift+Down                           { move-window-down; }
    Mod+Shift+WheelScrollLeft                  { move-column-left; }
    Mod+Shift+WheelScrollUp    cooldown-ms=100 { move-column-to-workspace-up; }
    Mod+Shift+WheelScrollDown  cooldown-ms=100 { move-column-to-workspace-down; }
    Mod+Shift+WheelScrollRight                 { move-column-right; }

    // Move to monitor but I have only one
    Mod+Shift+Ctrl+Left             { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Up               { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Down             { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Right            { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+WheelScrollLeft  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+WheelScrollUp    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+WheelScrollDown  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+WheelScrollRight { move-column-to-monitor-right; }

    //Mod+Shift+Page_Down { move-workspace-down; }
    //Mod+Shift+Page_Up   { move-workspace-up; }
    //Mod+Shift+U         { move-workspace-down; }
    //Mod+Shift+I         { move-workspace-up; }
    //Mod+Ctrl+WheelScrollDown      { focus-column-right; }
    //Mod+Ctrl+WheelScrollUp        { focus-column-left; }
    //Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    //Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // Consume or expell current window
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    // Consume or expell other window
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    //Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    //Mod+Shift+F { fullscreen-window; }
    Mod+Return { fullscreen-window; }

    // Maximize width
    Mod+Shift+R { expand-column-to-available-width; }
    // Change width by step
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    // Change height by step
    Mod+Shift+Minus { set-window-height "-10%"; } // Also Copilot button
    Mod+Shift+Equal { set-window-height "+10%"; }
    // Toggle floating and focus
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Idk what those do
    Mod+W { toggle-column-tabbed-display; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}


spawn-at-startup "dunst"              // Notifications
spawn-at-startup "xwayland-satellite" // XWayland
spawn-at-startup "waybar"             // Top bar
spawn-at-startup "swayosd-server"     // OSD
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1" // Polkit agent
spawn-at-startup "swayidle" "-w" "timeout" "601" "niri msg action power-off-monitors" "timeout" "600" "swaylock -f" "before-sleep" "swaylock -f"

environment {
    DISPLAY ":0"
}

